.product-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.product-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-field label {
    width: 100px;
    font-weight: bold;
}

.product-field span {
    margin-left: 10px;
}